* {
    background-repeat: no-repeat;
}

h1 {
    color: transparent;
}

body {
    position: absolute;
    background-color: black;
    background-image: url(/assets/gta-6-2026-game-3v.jp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 2%;
    height: 30000px;
}

.fundo {
    position: fixed;
    background-image: url(/assets/gta-6-2026-game-3v.jpg);
    background-size: 110%;
    background-position: center;
    width: 99.42vw;
    height: 100vh;
    z-index: -1;
    animation: zoomOut both;
    animation-timeline: view(-10% 100%);
    background-color: black;
}

@keyframes zoomOut {
    0%{
        background-size: 109%;
    }

    95%{
        opacity: 1;
    }

    100%{
        background-size: 100%;
        opacity: 0;
    }
}

.geral {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 10vh;
    left: 10vh;
    z-index: 10;
}

.vi {
    color: white;
    font-family: var(--fonte-gta);
    transition: .2s;
    font-size: 70px;
    margin: 0vh 150vh 0vh 1vh;
}

.vi:hover {
    color: blanchedalmond;
}

.menu {
    background-image: url(/assets/equal_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg);
    background-repeat: no-repeat;
    background-size: 70px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    height: 70px;
    width: 70px;
}

.logo_gta {
    position: fixed;
    left: 89vh;
    top: 10vh;
    background-image: url(/assets/gtaLogoGlow.webp);
    width: 13vw;
    height: 21vh;
    background-size: 100%;
    animation: logoSumindo both;
    animation-timeline: view(-10% 100%);
    transition: 2s;
}

@keyframes logoSumindo {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


.vi_trailer {
    position: fixed;
    color: transparent;
    cursor: default;
    font-size: 9vh;
    top: 85.5%;
    left: 48.5%;
    font-family: var(--fonte-gta);
    clip-path: inset(0 0 60% 0); /* top, right, bottom, left */
    -webkit-text-stroke: 2px white; /* largura e cor da borda */
    transition: 2s;
    animation: logoSumindo both;
    animation-timeline: view(-5% 1%);
}

.vi_trailer2 {
    position: fixed;
    color: transparent;
    cursor: default;
    font-size: 9vh;
    top: 87%;
    left: 48.5%;
    font-family: var(--fonte-gta);
    clip-path: inset(50% 0 0% 0); /* top, right, bottom, left */
    -webkit-text-stroke: 2px white; /* largura e cor da borda */
    transition: 2s;
    animation: logoSumindo both;
    animation-timeline: view(-5% 1%);
}

.veja_trailer {
    position: fixed;
    top: 90%;
    left: 45.5%;
    color: white;
    font-size: 1.6vh;
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: .50vh;
    cursor: text;
    transition: 2s;
    animation: logoSumindo both;
    animation-timeline: view(-5% 1%);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.seta {
    position: fixed;
    background-image: url(/assets/keyboard_arrow_down_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg);
    background-size: 100%;
    background-position: center;
    height: 100px;
    width: 3vw;
    top: 93.5%;
    left: 50%;
    animation: setaFlutuando 2s infinite alternate;
    text-shadow: 2px -2px 3px rgba(255, 104, 242, 0.5);
    transition: 1s;
    z-index: 10;
}

@keyframes setaFlutuando {
    0%{
        background-position: top;
    }

    100%{
        background-position: bottom;
        opacity: .4;
    }
}

.logo_geral {
      position: fixed;
      top: 0vh; left: 0vw;
      width: 99.42vw; height: 100vw;
      background: black;
      animation: revealFromEdges 3s both;
      mask-image: radial-gradient(circle, transparent 0%, black 70%);
      -webkit-mask-image: radial-gradient(circle, transparent 0%, black 70%);
      mask-composite: exclude;
      -webkit-mask-composite: destination-out;
    animation-timeline: view(-10% 280%);
      z-index: 3;
}

    @keyframes revealFromEdges {
      0% {
        mask-image: radial-gradient(circle, transparent 0%, transparent 100%);
        -webkit-mask-image: radial-gradient(circle, transparent 0%, transparent 100%);
      }

      50%{
        mask-image: radial-gradient(circle, transparent 0%, white 50%);
        -webkit-mask-image: radial-gradient(circle, transparent 0%, white 50%);
      }

      100% {
                mask-image: radial-gradient(circle, transparent 0%, black 0%);
        -webkit-mask-image: radial-gradient(circle, transparent 0%, black 0%);
      }
    }

.logo_gta_animada {
    position: fixed;
    background-image: url(/assets/Grand_Theft_Auto_Logo.png);
    background-color: rgb(0, 0, 0, 1);
    background-size: 500%;
    width: 99.42vw;
    height: 100vh;
    background-position: 45.9vw 18.8vh;
    opacity: 0;
    animation: logoZoom both;
    animation-timeline: view(-10% 160%);
    z-index: 2;
}

@keyframes logoZoom {
    0%{
        background-size: 500%;
        opacity: 0;
        background-position: center;
    }
    10%{
        background-color: rgb(0, 0, 0, .9);
    }

    90%{
        background-position: center;
        background-color: rgb(0, 0, 0, 1);
        opacity: 1;
    }
    100%{
        background-size: 8%;
        opacity: 1;
        background-color: rgb(0, 0, 0, 0);
    }
}

.logo_gta_fundo {
    background-image: url(/assets/logo\ certaaaa.webp);
    background-color: black;
    background-size: 14%;
    background-position: top;
    margin-top: 6.4vh;
    top: 10vh;
    right: 1vh;
    height: 100vh;
    width: 100vw;
    position: fixed;
    opacity: 0;
    animation: logoApper both;
    animation-timeline: view(-100% 170%);
    z-index: 1;
}

@keyframes logoApper {
    15%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        background-color: transparent;
    }
}

@keyframes corTexto {
  from {
    opacity: 0;
    background-position: 0% center;
    scale: 1;
  }
  to {
    opacity: 1;
    background-position: 100% center;
    scale: .8;
  }
}

.data_lançamento {
  position: fixed;
  top: 40vh;
  left: 40vh;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -.7vh;
  line-height: 13vh;
  font-family: var(--fonte-terciaria);
  font-size: 15vh;
  z-index: 2;
  
  background: linear-gradient(120deg,
    #fc248c, #f8a061, #f1308d
  );
  background-size: 300% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: corTexto linear both;
  animation-timeline: view(-100% 170%);
  animation-range: entry 0% cover 100%;
}